$box-width: 500px;

.slide {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  z-index: 0;

  &.active {
    opacity: 1;
    visibility: visible;
    z-index: 9;
  }
  .img {
    width: $box-width;
    margin-bottom: 20px;
  }

  .title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
  }
}
